@model OuKonMange3.Models.RestoVoteViewModel
@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutOuKonMange3.cshtml";
}

@section styles{
    <link type="text/css" rel="stylesheet" href="~/Content/styleOuKonMange3.css" />
}

@section bonjour{
    <h3>Prêt(e) à voter?!! Choisissez un ou plusieurs restaurants où vous aimeriez aller manger vendredi!</h3>

}
@using (Html.BeginForm())
{
    @Html.ValidationMessageFor(m => m.ListeRestosCheckes)
    for (int i = 0; i < Model.ListeRestosCheckes.Count; i++)
    {
        <div>
            @Html.CheckBoxFor(m => m.ListeRestosCheckes[i].EstSelectionne, new { data_val = "true", data_val_verifList = "Vous devez au moins choisir un restaurant." })
            @Html.LabelFor(m => m.ListeRestosCheckes[i].EstSelectionne, Model.ListeRestosCheckes[i].NomEtTelephone)
            @Html.HiddenFor(m => m.ListeRestosCheckes[i].Id)
            @Html.HiddenFor(m => m.ListeRestosCheckes[i].NomEtTelephone)
        </div>
    }
    <br />
    <input type="submit" value="Valider" />
}
@section scripts{
    <script type="text/javascript" src="../../Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="../../Scripts/verifList.js"></script>
}    