@model OuKonMange3.Models.Resto
@{
    ViewBag.Title = "CreerRestaurant";
}
@{
    Layout = "~/Views/Shared/_LayoutOuKonMange3.cshtml";
}

@section styles{
    <link type="text/css" rel="stylesheet" href="~/Content/styleOuKonMange3.css" />
}

@section bonjour{
    <h3>Quel nouveau resto avez-vous déniché cette semaine?!!</h3>
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Créer un restaurant</legend>

        <br />
        <div>            
            @Html.LabelFor(model => model.Nom)
            @Html.TextBoxFor(model => model.Nom)
            <br /><br />
            @Html.ValidationMessageFor(model => model.Nom)            
        </div>
        <br /><br />

        <div>
            @Html.LabelFor(model => model.Telephone)
            @Html.TextBoxFor(model => model.Telephone)
            <br /><br />
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>
        <br /><br />

        <div>
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
            <br /><br />
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <br /><br />

        <input type="submit" value="Envoyer" />
        <br />
        <img id="chargement" src="~/Content/ajax-loader.gif" alt="Chargement en cours..." style="display:none;margin-left:45%;" />
        <br />
        <div id="verifRestaurantExiste" style="text-align:center;">
            @{
                Html.RenderAction("VerifRestaurantExiste", new { model = Model });
            }
        </div>
        <br />
    </fieldset>
}

@section imageContent{
    <img src="~/Content/imageAjouterRestaurant.jpg" alt="imageAjouterRestaurant" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/erreurVerifRestaurantExiste.js"></script>
    <script type="text/javascript" src="~/Scripts/verifRestaurantExiste.js"></script>
}